<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div id="admin_comment_type_new_form_header" data-hook>
  <h1><%= t(:new_comment_type) %></h1>

  <%= render 'spree/shared/error_messages', :target => @comment_type %>
</div>

<div id="admin_comment_type_new_form" data-hook>
  <%= form_for(:comment_type, :url => collection_url) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div id="admin_comment_type_new_form_buttons" data-hook>
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>
